BOT_TOKEN="FILLME" # Provided by Telegram BotFather.
BOT_SECRET="FILLME" # Used to verify the identity of the Telegram bot server. Recommended: a 20-character random combination of letters and numbers.
ACCESS_ENDPOINT="FILLME" # HTTP web access endpoint. Recommended: a 20-character random combination of letters and numbers.
CF_TOKEN="FILLME" # Provided by Cloudflare, Permission: 'Account.Cloudflare Pages', 'Account.Workers Scripts'.
_US_1_GRPC_AUTH_TOKEN="FILLME" # The X-Auth-Token header passed to the gRPC gateway. Recommended: a 20-character random combination of letters and numbers.